body {
  background-image: url(../img/background.jpg);
  background-size: cover; }

nav.top-bar {
  text-align: center; }

section.top-bar-section {
  display: inline-block; }

.main {
  background-color: white;
  padding: 1em; }

.side {
  background-color: blue;
  padding: 1em;
  color: white; }
