<header class="row hide-for-small">
	<div class="small-12 columns text-centered">
		<img src="assets/img/logo.png">
	</div>
</header>
<div class="contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		
	  <ul class="title-area">
	  	<li class="name show-for-small">
		  <h1><a href="#">MunaEggsPress</a></h1>
		</li>
		 <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
	
	  <section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul>
		  <li><a href="#">EggsPress</a></li>
		  <li><a href="#">Muut&nbsp;tuotteet</a></li>
		  <li><a href="#">Omat&nbsp;tuotteet</a></li>
		  <li><a href="#">Tietoa&nbsp;meistä</a></li>
		  <li><a href="#">Kirjaudu&nbsp;sisään</a></li>
		</ul>
	  </section>
	</nav>
</div>