{% block content %} 
<div class="row">
	<article class="medium-9 columns main">
		<div class="row">
			<p class="medium-6 columns">
			Vestibulum ullamcorper tellus sit amet aliquam tristique. Etiam eu tortor vitae est congue lobortis. Curabitur efficitur luctus mi, ut pulvinar libero tempus ac. Donec convallis non justo vel luctus. Sed maximus, ligula eu scelerisque sodales, massa dui mattis urna, quis eleifend libero tortor vel nunc. Phasellus sed rutrum mi, mollis porta tortor. Nunc nunc turpis, eleifend sit amet condimentum id, facilisis ut risus. Vivamus a odio massa. Curabitur et risus pretium, tempor massa ac, fermentum urna. Vivamus vehicula magna malesuada dui auctor, quis rutrum neque pharetra. Pellentesque maximus pretium luctus. Donec sollicitudin lacus sit amet ligula commodo, sit amet rhoncus nisl ultricies. Vestibulum laoreet imperdiet mauris, nec tempus ex vulputate eu.
			</p>
			<img  class="medium-6 columns" src="assets/img/map.jpg">
		</div>
	</article>
	<aside class="medium-3 columns side">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada commodo tincidunt. Proin ut volutpat sem. Quisque sollicitudin efficitur odio, non mollis est faucibus ac. Nullam id enim ac risus porta ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce commodo nibh vitae sem blandit, quis vulputate dui cursus. Pellentesque vel volutpat velit. Duis consequat at nunc sed semper.
		</p>
	</aside>
</div>
{% endblock %}