{% block content %}

	<ul class="clearing-thumbs clearing -feature display: none;" data clearing>
	<h1 class
		<li><a class="th" href="assets/img/gal1.png">
			<img src="assets/img/gal1_th.jpg"></a>
		</li>
		 <li class="clearing-featured-img">
			<a href="assets/img/gal1.png">
			<img src="assets/img/gal1_th.jpg">
			</a>
		</li>
			<li><a class="th" href="assets/img/gal2.jpg">
			<img src="assets/img/gal2_th.jpg">
			</a>
		</li>
		<li><a class="th" href="assets/img/gal3.png">
			<img src="assets/img/gal3_th.jpg"></a>
		</li>
		<li><a class="th" href="assets/img/gal4.jpg">
			<img src="assets/img/gal4_th.jpg"></a>
		</li>
		<li><a class="th" href="assets/img/gal5.jpg">
			<img src="assets/img/gal5_th.jpg"></a>
		</li>
		
		
	</ul>

	
				
{% endblock %}			